<div class="home-background">

<div class="header">

  <div class="menu-header" style="background-image: url('orange.jpg');">
    <h1>Cocktail Menu</h1>
  </div>

  <%= link_to new_cocktail_path do %>
     <div class="add-cocktail d-flex flex-wrap">
      <div>
        <i class="fas fa-cocktail"></i>
      </div>
      <div>
        <p> Add a new cocktail </p>
      </div>
    </div>
  <% end %>
</div>

  <div class="cocktail-cards d-flex flex-wrap">
    <% @cocktails.each do |cocktail| %>
       <li>
          <div class="card" style="width: 18rem;">
            <div class="img-container">
              <img class="card-img-top" src="<%= cocktail.img_url %>" alt="<%= cocktail.name %>">
              <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?"} do %>
                <i class="far fa-times-circle"></i>
              <% end %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= cocktail.name %></h5>
              <p class="card-text"></p>
              <%= link_to "See more", cocktail_path(cocktail) %>
            </div>
          </div>
        </li>
    <% end %>
  </div>
</div>
